.u-section-1 {
  background-image: url("images/maxresdefault1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1952px;
}

.u-section-1 .u-group-1 {
  width: 1129px;
  min-height: 1863px;
  height: auto;
  animation-duration: 1000ms;
  margin: 110px auto 60px -12px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 99px 116px 0 729px;
}

.u-section-1 .u-image-1 {
  width: 535px;
  height: 301px;
  margin: -236px auto 0 41px;
}

.u-section-1 .u-shape-1 {
  width: 1153px;
  height: 398px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 3750ms;
  margin: -23px -12px 0;
}

.u-section-1 .u-list-1 {
  width: 1072px;
  margin: -341px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 334px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 31px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 62px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 23px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 60px;
  width: 60px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 31px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 62px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 23px 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 60px;
  width: 60px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 31px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 62px 0 0;
}

.u-section-1 .u-text-8 {
  margin: -377px auto 0;
}

.u-section-1 .u-group-2 {
  width: 1170px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 3750ms;
  min-height: 614px;
  height: auto;
  margin: 389px -20px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 603px;
  height: 465px;
  margin: 30px 507px 0 0;
}

.u-section-1 .u-text-10 {
  margin: -396px 390px 0 auto;
}

.u-section-1 .u-icon-4 {
  height: 60px;
  width: 60px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  color: rgb(255, 255, 255) !important;
  margin: -48px 121px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 71px 341px 0 auto;
}

.u-section-1 .u-icon-5 {
  height: 60px;
  width: 60px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  color: rgb(244, 249, 253) !important;
  margin: -48px 121px 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 71px 316px 0 auto;
}

.u-section-1 .u-icon-6 {
  height: 60px;
  width: 60px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  color: rgb(244, 249, 253) !important;
  margin: -48px 121px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 1153px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 3750ms;
  min-height: 410px;
  height: auto;
  margin: 60px -12px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 64px;
  height: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 99px auto 0;
  padding: 11px 71px 12px 70px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1610px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 22px;
    margin-left: 635px;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 293px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: 277px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 270px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 251px;
  }

  .u-section-1 .u-group-3 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1233px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 437px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 673px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: 57px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 57px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 203px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 188px;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 257px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 257px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 401px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 160px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 20px;
    margin-right: 160px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 160px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 20px;
    margin-right: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 3187px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 82px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    height: 949px;
    margin-top: 85px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -892px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -957px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 1366px;
    min-height: 783px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 247px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 83px;
    margin-right: auto;
    margin-left: 108px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -46px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 61px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -44px;
    margin-right: 75px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 73px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -44px;
    margin-right: 28px;
  }
}